.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(65px, 1fr));
    gap: 0.7rem;
}

.btn {
    width: 100%;
    background: none;
    border: 3px solid #fff;
    outline: none;
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    aspect-ratio: 1 / 1;
    padding: 0.5rem;
    cursor: pointer;
    font-family: 'Monaco', monospace;
}

.btn.active {
    background-color: #0088cc;
    color: #262626;
}

.btn.inactive {
    opacity: 0.3;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
    background-color: #80d4ff;
}
